<%- include("../partials/header", { bot, user, path, title: "Alkalmazás - Rythium" }) %>

<link rel="stylesheet" href="/css/index.css">
  
<div style="margin-top: 10%;display: flex; flex-wrap: wrap; justify-content: center;">

  <div class="card hide-on-mobile" >

    <div class="card-body">

        <div class="center title">
          <h2 class="card-title center">
            <strong>Válassz Operációs rendszert!</strong>
          </h2>
          <br><a href="//github.com/Rythium/rythium/raw/main/Rythium_V1.1.apk" class="butn btn btn-primary btn-save text-white"><strong><img src="/svg/android.svg">Android</strong></a>
          <div>
            <a href="//www.dropbox.com/s/6o38erb0fm7cmtz/Rythium_setup_V1.2.exe?dl=1" class="butn btn btn-primary btn-save text-white"><img src="/svg/win.svg"><strong>Windows</strong></a>
          </div>
        </div>
      </div>
      </div>
</div>

<!--telefonnnnnn-->

<link rel="stylesheet" href="/css/index-mobile.css">
  
<div style="margin-top: 10%;display: flex; flex-wrap: wrap; justify-content: center;">

  <div class="card hide-on-pc" >

    <div class="card-body">

        <div class="center title">
          <h2 class="card-title center">
            <strong>Válassz Operációs rendszert!</strong>
          </h2>
          <a href="//github.com/Rythium/rythium/raw/main/Rythium_V1.1.apk" class="butn btn btn-primary btn-save text-white"><strong><img src="/svg/android.svg">Android</strong></a>
          <div>
          <a href="//www.dropbox.com/s/6o38erb0fm7cmtz/Rythium_setup_V1.2.exe?dl=1" class="butn btn btn-primary btn-save text-white"><img src="/svg/win.svg"><strong>Windows</strong></a>
        </div>
      </div>
      </div>
      </div>
</div>

  <%- include("../partials/footer") %>