<%- include("../partials/header", { bot, user, path, title: "Alkalmazás - Rythium" }) %>

<link rel="stylesheet" href="/css/index.css">
  
<div style="margin-top: 10%;display: flex; flex-wrap: wrap; justify-content: center;">

  <div class="card hide-on-mobile" >

    <div class="card-body">

        <div class="center title">
          <h2 class="card-title center">
            <strong>Alkalmazás letöltése</strong>
          </h2>
          <a href="/app/os" class="butn btn btn-primary btn-save text-white"><strong><img src="/svg/download.svg">Letöltés</strong></a>
        </div>
      </div>
      </div>
</div>

<!--telefonnnnnn-->

<link rel="stylesheet" href="/css/index-mobile.css">
  
<div style="margin-top: 10%;display: flex; flex-wrap: wrap; justify-content: center;">

  <div class="card hide-on-pc" >

    <div class="card-body">

        <div class="center title">
          <h2 class="card-title center">
            <strong>Alkalmazás letöltése</strong>
          </h2>
          <a href="/app/os" class="butn btn btn-primary btn-save text-white"><strong><strong><img src="/svg/download.svg">Letöltés</strong></a>
        </div>
      </div>
      </div>
</div>

  <%- include("../partials/footer") %>