<!--<script>
  window.location.replace("/dashboard");
</script>-->
<%- include("partials/header", { bot, user, path, title: "Bejelentkezés - Rythium" }) %>
  <link rel="stylesheet" href="/css/index.css">
  
  <div style="margin-top: 10%;display: flex; flex-wrap: wrap; justify-content: center;">

      <div class="card hide-on-mobile" >

        <div class="card-body">

            <div class="center title">
              <h2 class="card-title center">
                <strong>Tovább a Kezdőfelületre</strong>
              </h2>
              <a href="/login" class="butn btn btn-primary btn-save text-white"><strong>Bejelentkezés</strong></a>
            </div>
          </div>
          </div>

  <!--telefonnnnnnnnn-->

  <link rel="stylesheet" href="/css/index-mobile.css">
  
  <div style="margin-top: 10%;display: flex; flex-wrap: wrap; justify-content: center;">

      <div class="card hide-on-pc" >

        <div class="card-body">

            <div class="center title">
              <h2 class="card-title center">
                <strong>Tovább a Kezdőfelületre</strong>
              </h2>
              <a href="/login" class="butn btn btn-primary btn-save text-white"><strong>Bejelentkezés</strong></a>
            </div>
          </div>
          </div>

  <%- include("partials/footer") %>