<%- include("partials/header", { bot, user, path, title: "Lista - Rythium" }) %>
  <div style="margin: 1%;">
  <h2>Lista:</h2>

  <p>- Alert módosítás/új létrehozása websocketekkel. <br>
    - Language lekérése dash.js-be.<br>
    - Minden változó mentése db-be.<br>
    - A bot azokra a parancsokra válaszoljon, amit vagy felhasznűló írt/maga Rythium bot, random botokra ne válaszoljon!<br>
    <s>- Settings oldal dasign kijavítása telefonon.</s><br>
    - Szerver választásakor a jobb alsó sarokban a hover animáció megoldása.<br>
    - dash.rythium.hu/app/os/ oldalon megoldani, hogy a gombok egymás alatt/melett legyenek a "card"-ban
    - Dashboard app Linux-ra telepítővel
</p>
</div>
  <%- include("partials/footer") %>